<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post App</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <style>
        *{
            font-family: 'Poppins', sans-serif;
        }
    </style>
</head>
<body>
  
    <div class="flex justify-center">
        <div class="p-10">
            <h1 class="text-2xl text-indigo-600">Posts</h1>
            <div class="bg-indigo-600 w-5 h-1 rounded-full"></div>
        </div>
    </div>
    <div class="flex justify-center pb-5">
        <a href="/add" class="bg-indigo-600 text-white px-5 rounded-md shadow-md">Add Post</a>
    </div>
  <div class="flex justify-center">
    <ul class="grid grid-cols-4 gap-10">
        <% posts.forEach(post => { %>
          <li class="p-2 rounded-md shadow-md">
            <h2 class="text-indigo-600 text-xl"><%= post.title %></h2>
            <img src="<%= post.image %>" alt="<%= post.title %>" class="w-48">
            <div class="py-3">
                <p class="text-zinc-400 text-xs"><%= post.content %></p>
            </div>
           <div>
            <a href="/delete/<%= post.id %>" class="bg-rose-500 text-white px-5 rounded-md">Delete</a>
           </div>
          </li>
        <% }); %>
      </ul>
  </div>
</body>
</html>